@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

body {
    overflow: hidden;
    background-image: url("Pictures/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a:any-link {
    text-decoration: none;
}

tr {
    height: 20%;
    width: 80%;
} 
td {
    height: 10%;
    line-height: 10%;
}
table {
    border: solid 10px black;
    height: 20%;
}

#blackscreen {
    transition: 10s;
    display: none;
    position: absolute;
    z-index: 3;
    background-color: black;
    top: -10px;
    left: -10px;
    width: 120%;
    height: 120%;
    opacity: 60%;
}

#menu-button-open {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 5%;
    height: 10%;
    border: none;
    outline: none;
    background-color: #009eb9;
    box-shadow: 2px 5px black;
    transition-duration: 1s;
    border-radius: 10%;}
#menu-button-open:hover {
    transition-duration: 1s;
    border-radius: 25%;
    box-shadow: 5px 10px black;
}
.menu-button-open-icon {
    position: relative;
    width: 70%;
    left: 15%;
    height: 7.5%;
    margin-bottom: 10%;
    border: none;
    outline: none;
    background-color: black;}
#menu-button-close {
    display: none;
    font-size: 1.25vw;
    height: 5%;
    width: 10%;
    position: relative;
    top: 1%;
    left: 88%;
    border-radius: 5%;
}

#menu-sidepage {
    top: 0.01%;
    left: 0.01%;
    z-index: 4;
    background-color: #00B7D6;
    position: absolute;
    height: 100%;
    width: 0px;
    transition: 0.5s;
}
#menu-sidepage-buttons-holder {
    position: relative;
    display: none;
    height: 90%;
    width: 65%;
    left: 10%;
    transition-duration: 0.1s;
}
.menu-sidepage-buttons {
    position: relative;
    cursor: pointer;
    background-color: #00b7d6;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5vw;
    text-align: center;
    border: none;
    padding: 3%;
    margin: 2%;
    width: 100%;
    height: auto;
    transition-duration: 0.5s;}
.menu-sidepage-buttons:hover {
    transition-duration: 0.5s;
    background-color: #00b7d6;
    filter: brightness(0.8);
    margin: 5%;
}

.settings-select-holder {
    position: relative;
    display: none;
    list-style: none;}
.settings-select {
    position: relative;
    background-color: #00B7D6;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 1vw;
    padding: 3%;
    border: none;
    height: auto;
    width: 100%;
    transition-duration: 0.5s;}
.settings-select:hover {
    transition-duration: 0.5s;
    background-color: #00B7D6;
    filter: brightness(0.8);}


.main-buttons-contanier {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 10vh;
    width: 85%;
    left: 15%;
    background-color: #000000;
}

.main-buttons {
    position: relative;
    text-align: center;
    cursor: default;
    background-color: #00B7D6;
    color: #000000;
    border: none;
    height: 100%;
    width: 20%;
    
    transition-duration: 1s;}
.main-buttons > * {
    position: relative;
    height: 30%;
    top: 35%;
    font-size: 1.2vw;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}
.main-buttons > span {
    color: transparent;
    transition-duration: 0.3s;}
.main-buttons:hover > span {
    color: #000000;
    margin: 2%;
    transition-duration: 0.3s;
}

#group-work-holder {
    position: absolute;
    bottom: 5%;
    left: 2%;
    height: 60%;
    width: 30%;
    transition-duration: 0.5s;}
#group-picture {
    position: absolute;
    width: 70%;
    height: auto;
    bottom: 5%;
    left: 15%;}
#group-work-title {
    position: relative;
    height: auto;
    width: 100%;
    top: 10%;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 2.3vw;
    text-align: center;
}



@media screen and (max-width:1000px) {
    #group-work-holder {display: none;}
    .main-buttons {width: 100%;padding-top: 5%;padding-bottom: 5%;}
    .main-buttons > * {font-size: 5vw;}
    .main-buttons:hover {transform: scale(1.00);}
    .main-buttons-contanier {position: relative;height: 100%;width: 100%;top: 10vh;left: 0;flex-direction: column;}
    #menu-button-open {left:0;width:100%; box-shadow: 1px 2.5px black;border-radius:0%;top:0%;font-size:3rem;}
    #menu-button-open:hover {transition-duration: 1s;border-radius: 25%; box-shadow: 2.5px 5px black;border-radius: 0%;}
    .menu-button-open-icon {margin-bottom: 1%;}
    #blackscreen {width: 100%;height: 100%;left: 0%;top:0%}
    table {height: auto}
    body {overflow-x: hidden;background-image:none;background-color:#006f83;}
}