body {
    background-color: skyblue;
    overflow: hidden;
}

.assignment-container {
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: nowrap;
    display: flex;
    color: white;
}
.assignment-container2 {
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: nowrap;
    display: flex;
    color: white;
}
.assignment-container3 {
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: nowrap;
    display: flex;
    color: white;
}
.assignment-container4 {
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: nowrap;
    display: flex;
    color: white;
}
.assignment-container5 {
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: nowrap;
    display: flex;
    color: white;
}

.comment-on-work {
    font-family: sans-serif;
    width: 120px;
    height: 30px;
    text-align: center;
    line-height: 180%;
    position: absolute;
    background-color: lightgoldenrodyellow;
    border: solid 4px sandybrown;
}

#content {
    margin-top: 20px;
    margin-left: 140px;
    font-family: sans-serif;
}

.buttons {
    
    line-height: 340%;
    text-align: center;
    font-size: 30px;
    
    width: 300;
    height: 100px;
    
    background-image: url("Fotok/sand.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    color: white;
    font-family: sans-serif;
}

a:any-link {
    text-decoration: none;
}


@keyframes waves {
    from {left: -50%; bottom: -3%;}
    to {left: 0%; bottom: -3%;}
}
@keyframes waves2 {
    from {left: -75%; bottom: -3%;}
    to {left: -25%; bottom: -3%;}
}
@keyframes waves3 {
    from {left: 20%; bottom: -3%;}
    to {left: 70%; bottom: -3%;}
}
@keyframes waves4 {
    from {left: 45%; bottom: -3%;}
    to {left: 95%; bottom: -3%;}
}

.wave {
    height: 120px;
    width: 100%;
    top: 88%;
    background-size: contain;
    background-image: url(Fotok/Wave.png);
    animation-name: waves;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    position: absolute;
}
.wave2 {
    height: 120px;
    width: 100%;
    top: 88%;
    background-size: contain;
    background-image: url(Fotok/Wave.png);
    animation-name: waves2;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    position: absolute;
}
.wave3 {
    height: 120px;
    width: 100%;
    top: 88%;
    background-size: contain;
    background-image: url(Fotok/Wave.png);
    animation-name: waves3;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    position: absolute;
}
.wave4 {
    height: 120px;
    width: 100%;
    top: 88%;
    background-size: contain;
    background-image: url(Fotok/Wave.png);
    animation-name: waves4;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    position: absolute;
}


@media screen and (max-width:1000px) {
    .wave{display: none}
    .wave2{display: none}
    .wave3{display: none}
    .wave4{display: none}

    body {overflow: visible}
    .buttons {
    
    line-height: 280%;
    text-align: center;
    font-size: 25px;
    
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
        
    width: auto;
    height: 70px;
    
    background-image: url("Fotok/sand.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    color: white;
    font-family: sans-serif;}
    .assignment-container {
        margin-top: 0px;
    flex-direction: column;
    flex-flow: column;
    display: flex;
    height: auto;}
    .assignment-container2 {
    margin-top: 0px;
    flex-direction: column;
    flex-flow: column;
    display: flex;
    height: auto;}
    .assignment-container3 {
        margin-top: 0px;
        flex-direction: column;
        flex-flow: column;
        display: flex;
        height: auto;}
    .assignment-container4 {
    margin-top: 0px;
    flex-direction: column;
    flex-flow: column;
    display: flex;
    height: auto;}
    .assignment-container5 {
        margin-top: 0px;
        flex-direction: column;
        flex-flow: column;
        display: flex;
        height: auto;}
}