* {
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background-image: url("https://cdna.artstation.com/p/assets/images/images/009/647/682/medium/martin-novak-wood-texture.jpg?1520148399");
    background-size: cover;
    background-repeat: no-repeat;
}


#timer{
    position: relative;
    background-image:linear-gradient(to bottom, #9C6137 0%, #9C6137 20%, #B37A4C 20%, #B37A4C 40%, #9C6137 40%, #9C6137 60%, #B37A4C 60%, #B37A4C 80%, #9C6137 80%, #9C6137 100%);
    height: 10vh;
    width: 35vw;
    margin: 2% 2% 0 auto;
    padding-top: 1%;
    font-size: 4rem;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    border: 10px solid transparent;
    border-image:url(../../Pictures/border.png) 10 round;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 20px black);
}
#timer>span {
    font-size: 4rem;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#chessboard {
    position: absolute;
    height: 800px;
    width: 800px;
    top: 10%;
    left: 5%;
    background-color: transparent;
    filter: drop-shadow(0px 0px 20px black);
}

.chessboard_piece {
    position: absolute;
}
.chess_piece {
    height: 100%;
    width: 100%;
}
.hidden_number {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
    color: transparent;
    font-size: 3rem;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    transition-duration: 0.5s;}
.chessboard_piece:hover>.hidden_number {
    color: red;
    transition-duration: 0.5s;
}