body,  html {
    padding: 0; margin: 0; 
}
body {
    overflow: hidden;

    background-image: url("https://i.pinimg.com/564x/c1/98/09/c198093b24e87349e7a8f526c0adfbfa.jpg");
    background-size: 100%;
    background-position: top;
}
canvas {
    position: absolute;
    display: block;
    z-index: 1;
}
#submarine {
    z-index: 2;
    position: absolute;
    height: 100px;
    width: fit-content;
    transform-origin: center;
    transition-property: transform;
    transition-duration: 0.2s;
}
#depth_meter {
    z-index: 2;
    position: absolute;
    width: 15vw; height: fit-content;
    left: 2.5vw; bottom: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#depth_meter > #depth_meter_background {
    position: relative;
    width: 100%; height: fit-content;
}
#depth_meter > #depth_meter_middle {
    z-index: 5;
    position: absolute;
    width: 100%; height: fit-content;
}
#depth_meter > #depth_meter_needle {
    z-index: 4;
    position: absolute;
    height: 50%; width: fit-content;
    bottom: 15%;
    rotate: 0deg;
    filter: brightness(0.6) drop-shadow(0px 0px 5px black);
    transform-origin: bottom;
    transition-duration: 0.5s;
}
#depthTextHolder {
    z-index: 3;
    box-sizing: border-box;
    position: absolute;
    width: 75%; height: 70%;
    bottom: 5%;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#depthTextHolder::after {
    z-index: 4;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: inset 0px 0px 20px black;
}
.depthLevel {
    position: absolute;
    height: 100%; width: 200%;
    transform-origin: bottom;
}
#submarine > img {
    height: 100%;
}