body {
	margin: 0px;
	padding: 10px;
}
hr {
    width: 60%;
}

h1, h2{
	color: #F26600;
    font-family: sans-serif;
}

.tartalom {
	margin: 0 auto 0 auto;

}

.fejlec{
    margin-top: 20px;
}

.bal {
    margin-left: 300px;
}

.jobb {
	margin-left: 350px;
}

.lablec {
	clear: both;
}

.kep {
	width: 350px;
    margin-left: 30px;
}

a:link, a:visited {
	color: #F26600;
}

p, ol, ul {
    font-family: sans-serif;
}