body {
    background-image: url("pictures/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

.alt_navigation_panel {
    text-align: center;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 5%;
    width: 10vw;
    
    border: 1px black solid;
    border-radius: 7%;
    background-color: black;
}

.alt_navigation_panel_time {
    text-align: center;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 5%;
    width: 10vw;
    
    border: 1px black solid;
    border-radius: 7%;
    background-color: black;
}

.button {
    margin: auto 0 auto 0;
    position: relative;
}

.check {
    border: none;
    outline: none;
    background-color: white;
    padding: 5px;
}

.main_navigation_panel {
    position: sticky;
    top: 0px;
    background-color: lightgray;
    height: 7vh;
    display: flex;
    flex-wrap: nowrap;

    border: solid 1px black;
    z-index: 9999;
}

h1 {
    margin-left: 5%;
    font-family: 'Dancing Script', cursive;
    font-size: 5vh;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3vh;
}

p {
    margin-right: 5%;
    font-family: 'Dancing Script', cursive;
    font-size: 3vh;
}

.pictureone {
    position: absolute;
    margin-left: 7%;
    float: left;
}

.textone {
    float: right;
    margin-left: 22.5%;
}

.keponclick {
    margin-left: 5%;
    margin-top: 20vw;
}

#cezar {
    width: 350px;
}

.szuletese {
    margin-top: 20%;
    position: relative;
    text-align:left;
}
.szuletesetext {
    margin-left: 7%;
    position: relative;
    text-align:left;
}

.uralkodasa {
    margin-top: 5%;
    position: relative;
    text-align:left;
}

.uralkodasatext {
    margin-left: 7%;
    position: relative;
    text-align:left;
}

.halala {
    margin-top: 5%;
    position: relative;
    text-align:left;
}

.halalatext {
    margin-left: 7%;
    position: relative;
    text-align:left;
}

#up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1; 
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    padding: 15px;
    border-radius: 10%; 
    transition-duration: 0.5s;    
}
  
#up:hover {        
        transition-duration: 0.5s;
        background-color: darkgray;
        color: black;
}

.textpic {
    height: auto;
    width: 500px;
    border: black solid 1px;
    
}