div {
    position: relative;
    width: 60px;
    height: 60px;
    left: 100px;
    background-color: skyblue;
  }
  
  #moved {
    position: absolute;
    bottom: 0px;
    width: 70%;
    height: 50%;
    left: 15%;
    transform: skew(15deg, 15deg) perspective(500px) translateZ(200px);
    background-color: pink;
    transition-duration: 0.2s;
  }