@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

table {
    height: 100%;
    width: 25%;
}

button {
    position: relative;
    height: 10vh;
    width: 25vw;
    right: 70%;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px 10px;
    transition-duration: 1s;
    background-color: white;

    font-size: 25px;
    color: transparent;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    line-height: -10%;
    right: 20%;
    color: white;
}   

p {
  position: relative;
  top: 10%;
}


#background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  filter: brightness(70%);
  background-image: url("https://img.besthqwallpapers.com/Uploads/13-11-2020/144337/blue-technology-background-communication-social-network-background-communication-background-earth-blue-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon {
    left: 35%;
    top: 15%;
    height: auto; 
    width: 3vw;
    position: relative;
}


.discord:hover {
  background-color: #8C9EFF;
}
.viber:hover {
  background-color: #7D3DAF;
}
.messenger:hover {
  background-color: #007FFF;
}
.skype:hover {
  background-color: #00A9E8;
}
.phone:hover {
  background-color: #1D1D1B;
}