@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
    background-image: url(../Pictures/munkajog-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;}
h2 {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    top: -20%;}
h3 {
    /*border: 3px solid black;*/
    position: relative;
    width: 50%;
    height: 40%;
    background-color: grey;
    filter: brightness(90%);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    top: -20%;
    left: 25%;
}

.button {
    text-align: center;
    border: none;
    outline: none;
    width: 90%;
    height: 23%;
    margin: 5% 0 3% 5%;
    background-color: silver;
    transition-duration: 1s;}
.button:hover {
    transition-duration: 1s;
    transform: translateY(10px);
    box-shadow: 5px -10px;}
.button-container {
    margin: 1%;
    background-color: grey;
    width: 20%;
    height: 40%;
}

.fogalom-button {
    margin: 1%;
    width: 15%;
    height: 10%;
    background-color: grey;
    transition-duration: 1s;}
.fogalom-button:hover {
    transform: translateY(0px);
    transition-duration: 1s;
    filter: invert(100%);}
.fogalmak {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-left: 2%;}