@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body {
    background-image: url("../Pictures/othersBackground.png");
    background-size: 2%;
}

button {
    border: none;
    background: none;
}

iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    user-select: none;
    border: none;
    outline: none;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    animation-name: none;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    -webkit-user-drag: none;
    user-select: none;
}

h1 {
    height: 20%;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    cursor: pointer;
    margin-left: 17.5%;
    -webkit-user-drag: none;
    user-select: none;
    background-color: white;
    padding: 1%;
    line-height: 75%;
    border: 5px dashed black;
}

#reload {
    position: absolute;
    width: 5%;
    height: 75%;
    top: 20%;
    left: 2%;
}
#header {
    position: absolute;
    justify-content: inherit;
    flex-wrap: nowrap;
    display: flex;
    left: 0;
    top: 0;
    height: 10vh;
    width: 100vw;
}
#inner {
    position: absolute;
    top: 15%;
    left: 10%;
    height: 70%;
    width: 80%;
}

#time-table {
    visibility: hidden;
    z-index: 0;
}
#calculator {
    visibility: hidden;
    z-index: 0;
}
#clock {
    visibility: visible;
    z-index: 1;
}

@keyframes spin {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    75%  {transform: rotate(315eg);}
    100% {transform: rotate(360deg);}
}