@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body {
    background-image: url("https://etc.usf.edu/clipart/41600/41619/hex_41619_lg.gif");
    background-size: 20%;
}

button {
    border: none;
    background: none;
}

iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    user-select: none;
    border: none;
    outline: none;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    animation-name: none;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    -webkit-user-drag: none;
    user-select: none;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    cursor: pointer;
    margin-left: 20%;
    -webkit-user-drag: none;
    user-select: none;
}

#reload {
    position: relative;
    width: 3%;
    height: 3%;
    margin-top: 0.75%;
    left: 2%;
}
#header {
    justify-content: inherit;
    flex-wrap: nowrap;
    display: flex;
    left: 0%;
    height: 5%;
    width: 100%;
}
#inner {
    position: absolute;
    top: 15%;
    left: 10%;
    height: 70%;
    width: 80%;
}

#time-table {
    visibility: visible;
    z-index: 1;
}
#calculator {
    visibility: hidden;
    z-index: 0;
}
#clock {
    visibility: hidden;
    z-index: 0;
}

@keyframes spin {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(90deg);}
    50%  {transform: rotate(180deg);}
    75%  {transform: rotate(315eg);}
    100% {transform: rotate(360deg);}
}