body {
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    background-size: contain;
}
* {font-family: 'Courier New', Courier, monospace; transition-duration: 1s;}

p {
    user-select: none;
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.5em;
    top: 15%;
    z-index: 10;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;
    z-index: 1;
}

#GameHolder {
    z-index: 1;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 70vw;
    height: 80vh;
    top: 1vw;
    left: 15vw;
    flex-flow: row;
    display: flex;
    overflow-x: hidden;
}
#GameHolderLeft {
    filter: brightness(70%);
    z-index: 2;
    position: absolute;
    width: 11vw;
    height: 90vh;
    left: 5vw;
    background-color: #6666ff;
}
#GameHolderLeft::before {
    content: '';
    position: absolute;
    height: 90vh;
    width: 2vw;
    background-color: yellow;
    right: 0;
    top: 0;
    box-shadow: -10px 0px 50px black;
}

#GameHolderRight {
    filter: brightness(70%);
    z-index: 2;
    position: absolute;
    width: 10vw;
    height: 90vh;
    right: 5vw;
    background-color: #6666ff;
}
#GameHolderRight::before {
    content: '';
    position: absolute;
    height: 90vh;
    width: 2vw;
    background-color: yellow;
    left: 0;
    top: 0;
    box-shadow: -10px 0px 50px black;
}

#GameBoard_Bottom {
    transform: perspective(2.2vh) rotateX(1.4deg);
    transform-style: preserve-3d;
    z-index: 3;
    position: absolute;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    left: 0;
    background-color: #6666ff;
    filter: brightness(60%);
}
#GameBoard_Top {
    transform: perspective(2.2vh) rotateX(-1.4deg);
    z-index: 3;
    position: absolute;
    width: 100vw;
    height: 20vh;
    top: -15vh;
    left: 0;
    background-color: #6666ff;
    filter: brightness(80%);
}

#Button {
    transform-style: preserve-3d;
    z-index: 1;
    position: absolute;
    height: 90px;
    width: 190px;
    right: 15%;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
#Button::after {
    content: '';
    z-index: 3;
    position: absolute;
    height: 75px;
    width: 150px;
    right: var(--ButtonAfterRight);
    top: var(--ButtonAfterTop);
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    transition-duration: 0.2s;
}

#Button::before {
    content: '';
    z-index: 2;
    position: absolute;
    height: 75px;
    width: 150px;
    right: 10%;
    top: 5%;
    background-color: rgb(210, 0, 0);
    border-radius: 50%;
}
#Joystick_part1 {
    transform-style: preserve-3d;
    position: absolute;
    height: 90px;
    width: 190px;
    border-radius: 50%;
    top: 25%;
    left: 10%;
    background-color: black;
}
#Joystick_part2 {
    transform: perspective(2vh) rotateZ(0deg);
    z-index: 5;
    position: absolute;
    height: 30%;
    width: 40px;
    top: 60%;
    left: 14%;
    background-color: rgba(107, 107, 107, 0.9);
    transform-origin: bottom;
}
#Joystick_part2::after {
    content: '';
    transform: perspective(2vh) rotateZ(0deg);
    z-index: 5;
    position: absolute;
    height: 30%;
    width: 200%;
    top: 0%;
    left: -50%;
    border-radius: 20%;
    background-color: rgb(190, 0, 0);
    transform-origin: bottom;
}


.Games {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: 1;
    height: 60%;
    width: 20%;
    top: 20%;
    left: 10%;
    margin-left: 50px;
}

#Active{
    height: 80%; 
    width: 30%; 
    top: 10%;
}
#Active > p {font-size: 2em;}
#Active > .PlayButton {font-size: 5em;}
.PlayButton {
    position: relative;
    user-select: none;
    height: 10%;
    width: 50%;
    color: #fff;
    background-color: black;
    margin: auto 25% auto 25%;
    font-size: 1.5em;
}
.PlayButton:hover {
    color: white;
    animation-name: glitch;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    transition-duration: 0.75s;
}



@keyframes glitch {
    2%, 64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(2px,0);
    }
    6%, 56% {
        transform: translate(-2px,0);
    }
}

@media screen and (max-width:1000px) {
    body {overflow: visible}
    .Games {width: 90vw;height: 35vh;left: 0px;margin-left: 5vw;margin-top:10vh;}
    #GameHolder{flex-flow: column;margin-top: 0vh;}
    p {font-size: 5rem;}
    img {position: absolute;margin-left: 5%;margin-top: 22.5%;width: 40%;}
    .PlayButton{font-size: 5rem;left: 25%;width: 40%;height: 30%;}
}