body {
    overflow: hidden;
}
* {font-family: 'Courier New', Courier, monospace;}

p {
    user-select: none;
    position: relative;
    color: white;
    text-align: center;
    font-size: 2rem;
    z-index: 10;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;
    z-index: 1;
}

#proba {
    color: #000000;
    top: 0;
    left: 5%;
    position: absolute;
}
#GameHolder {
    position: relative;
    flex-flow: row;
    display: flex;
    z-index: 2;
    margin-top: 10vh;
}
.Games {
    position: relative;
    background-color: rgb(0, 0, 0, 0.8);
    border-radius: 10px;
    z-index: 1;
    height: 65vh;
    width: 25vw;
    margin-left: 15vw;
}

.Active{
    background-color: #000000b3;
}

.PlayButton {
    position: relative;
    user-select: none;
    height: 10%;
    width: 50%;
    color: #000000;
    background-color: #ffffff;
    margin: auto 25% auto 25%;
    font-size: 2rem;
    transition-duration: 1s;}
.PlayButton:hover {
    background-color: green;
    color: white;
    animation-name: glitch;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    transition-duration: 0.75s;
}

@keyframes glitch {
    2%, 64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(2px,0);
    }
    6%, 56% {
        transform: translate(-2px,0);
    }
}

@media screen and (max-width:1000px) {
    body {overflow: visible}
    .Games {width: 90vw;height: 35vh;left: 0px;margin-left: 5vw;margin-top:10vh;}
    #GameHolder{flex-flow: column;margin-top: 0vh;}
    p {font-size: 5rem;}
    img {position: absolute;margin-left: 5%;margin-top: 22.5%;width: 40%;}
    .PlayButton{font-size: 5rem;left: 25%;width: 40%;height: 30%;}
}