body {
    overflow: hidden;
}

p {
    position: relative;
    color: white;
    text-align: center;
    font-size: 35;
    font-family: 'Courier New', Courier, monospace;
}

#proba {
    top: -100px;
    left: -25%;
    position: absolute;
}

#canv {
    opacity: 60%;
    z-index: 0;
}

.GameHolder {
    opacity: 80%;
    position: absolute;
    background-color: black;
    z-index: 1;

    height: 65vh;
    width: 25vw;
}

.Game {
    margin-top: 10vh;
    margin-left: 10vw;
    z-index: 1;
}
.Game_2 {
    margin-top: 10vh;
    margin-left: 60vw;
    z-index: 1;
}

img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10%;
    z-index: 1;
}

.PlayButton {
    height: 10%;
    width: 50%;
    margin-left: 25%;
    color: black;
    background-color: white;
    transition-duration: 1s;
}

.PlayButton:hover {
    transition-duration: 0.75s;
    background-color: green;
    color: white;
}