body {
    background-color: skyblue;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 20px;}
::-webkit-scrollbar-thumb {
    background-color: sandybrown;
    border-radius: 5px;
    border: 3px dashed yellow;}


#assignment-container-container {
    /*background-color: black;*/
    position: relative;
    z-index: 10;
    width: 90%;
    height: 80vh;
    top: 5%;
    left: 5%;
    padding-bottom: 1%;
    overflow-x: none;
    overflow-y: scroll;}
.assignment-container {
    margin-top: 2%;
    justify-content: space-around;
    flex-wrap: nowrap;
    display: flex;
    color: white;}


.buttons {
    line-height: 340%;
    text-align: center;
    font-size: 30px;
    background-image: url("../Pictures/sand.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: sans-serif;
    filter: drop-shadow(0px 0px 5px #000000);}

#island {
    position: absolute;
    z-index: 1;
    height: 30%;
    width: 110%;
    bottom: 0%;
    left: -5%;
    background-color: sandybrown;
    filter: blur(1px) brightness(90%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}


#palm-tree {
    position: relative;
    z-index: 1;
    height: 200%;
    width: 30%;
    left: 10%;
    bottom: 180%;
}
#coconuts {
    position: relative;
    z-index: 1;
    height: 200%;
    width: 30%;
    left: 30%;
    bottom: 110%;
}

a:any-link {
    width: 20%;
    height: 100px;
    text-decoration: none;}


@keyframes waves {
    from {left: -50%; bottom: 0%;}
    to {left: 0%; bottom: 0%;}
}
@keyframes waves2 {
    from {left: 0%; bottom: 0%;}
    to {left: 50%; bottom: 0%;}
}
@keyframes waves3 {
    from {left: -42.5%; bottom: 0%;}
    to {left: 7.5%; bottom: 0%;}
}
@keyframes waves4 {
    from {left: 57.5%; bottom: 0%;}
    to {left: 107.5%; bottom: 0%;}
}

.waves {
    height: 15%;
    width: 100%;
    top: 85.5%;
    z-index: 10;
    background-size: contain;
    background-image: url(../Pictures/Wave.png);
    position: absolute;

    animation-iteration-count: infinite; 
    animation-timing-function: linear;
    animation-duration: 4s;
}

#wave {
    animation-name: waves;}
#wave2 {
    animation-name: waves2;}
#wave3 {
    animation-name: waves3;}
#wave4 {
    animation-name: waves4;}

@media screen and (max-width:1000px) {
    body {overflow: visible}

    a:any-link {
        width: 100%;
        height: 100%;
        margin-bottom: 2vh;}
    .buttons {
        text-align: center;
        font-size: 5rem;
        
        background-image: url("../Pictures/sand.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        color: white;
        font-family: sans-serif;}
    .assignment-container {
        flex-direction: column;
        flex-flow: column;
        display: flex;
        width: 100%;
        height: 100%;}
    ::-webkit-scrollbar {
        display: none;
    }
    #assignment-container-container {
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        flex-direction: column;
        flex-flow: column;
        display: flex;
    }
    .waves{display: none}
    #island {display: none}
}