* {transition-duration: 1s;}

#player {
    z-index: 2;
    position: absolute;
    height: 150px;
    width: 75px;
    top: 50%;
    left: 50%;
    background-color: brown;
    border-radius: 50px 50px 20px 20px;
    rotate: -90deg;
}

#sea {
    
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 255, 0.7);
}

.random_island {
    z-index: 2;
    position: absolute;
    height: 150px;
    width: 75px;
    background-color: brown;
    border-radius: 50px 50px 20px 20px;
}