@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    -webkit-user-drag: none;
    user-select: none;}

body {
    background-color: #16738d;
    overflow: hidden;
}

#menu-sidepage {
    position: absolute;
    overflow-y: scroll;
    z-index: 1000;
    transform: rotate(-1deg);
    background-color: rgba(0, 0, 0, 0.5);
    height: 70%;
    width: 25%;
    top: 25%;
    left: -50%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.75rem;
    color: white;
    transition: 0.5s ease-out;}
#menu-sidepage::-webkit-scrollbar {
    width: 20px;}
#menu-sidepage::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px;
    border: none;}
.menu-sidepage-buttons {
    position: relative;
    cursor: pointer;
    background-color: #ffffff90;
    width: 80%;
    height: 10%;
    top: 0;
    bottom: 15%;
    border: none;
    margin: 5% 10% auto 10%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    transition: 0.3s ease-out;}
.menu-sidepage-buttons:hover {
    transition: 0.3s ease-out;
    background-color: #ffffff;}

#volume-slider {
    position: relative;
    appearance: none;
    width: 70%;
    height: 2vh;
    margin: 10% auto 5% auto;
    background-color: #dd0000;
    display: none;}
#volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #ff0000;
    box-shadow: 0px 0px 10px #000000;
    border: 0;
    cursor: pointer;
}

#graphics-select-holder, #display-select-holder, #language-select-holder {
    position: relative;
    list-style: none;
    border: none;
    background-color: transparent;
    width: 80%;
    margin: 5% 10% 5% 10%;
    display: none;}
#graphics-select-holder>div, #display-select-holder>div, #language-select-holder>div {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
    padding: 3%;
    transition-duration: 0.2s;}
#graphics-select-holder>div:hover, #display-select-holder>div:hover, #language-select-holder>div:hover {
    background-color: #ffffff33;
    transition-duration: 0.2s;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/*--------------------------------------------------------------------------------     GAME CONTENT    ------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
#ground {
    position: absolute;
    display: block;
    z-index: 998;
    background-image:linear-gradient(to top, #0A4E2B 0%, #0A4E2B 50%, #0e5e34 50%, #0e5e34 100%);
    bottom: 0;
    left: 0;
    width: 0100%;
    height: 10%;}


#character {
    z-index: 997;
    position: absolute;
    background-color: transparent;
    filter: drop-shadow(-1px 2px 2px #00000091);
    left: 500px;
    top: -90px;
    width: 150px;
    height: 100px;
    transform: scaleX(-1);}
#characterSkin {
    position: relative;
    left: 0px;
    bottom: 20px;
    width: 100%;}

.treePlacement {
    position: absolute;
    height: 100%;
    bottom: 0px;}
.backgroundTrees {
    z-index: 0;
    filter: brightness(70%);}
.middleTrees {
    z-index: 1;
    filter: brightness(80%);}
.frontTrees {
     z-index: 2;
     opacity: 100%;}
.tree_imgs {
    height: 80%;
    position: absolute;
    bottom: 0px; /*For Design*/}
.forestHolder {
    position: absolute;
    bottom: 97.5%;
    width: 750px;
    height: 1000px;}

.enemySkin {
    position: absolute;
    width: 100%;
    background-color: transparent;
    bottom: 0%;
    filter: drop-shadow(-5px 2px 2px #00000091);
};

#mapLevel {
    position: absolute;
    display: none;
    z-index: 1000;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: black;
};
#mapWorld {
    position: absolute;
    display: none;
    z-index: 1000;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: white;
};



#solar-cycle {
    position: absolute;
    background-color: transparent;
    z-index: 1;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;}
.solar-rods {
    position: absolute;
    background-color: transparent;
    border-radius: 10px;
    width: 2%;
    left: 49%;
    transform-origin: bottom;}
#sun {
    position: absolute;
    width: 20vw;
    height: 40vh;
    margin-top: -20vh;
    margin-left: -9vw;
    border-radius: 50%;
    background-color: yellow;
    filter: blur(1vh) brightness(80%);}
#sun-rod {
    top: -50%;
    height: 100%;}
#moon {
    position: absolute;
    width: 20vw;
    height: 40vh;
    margin-top: -20vh;
    margin-left: -9vw;
    border-radius: 50%;
    background-color: whitesmoke;
    filter: brightness(90%) blur(0.3vh);}
#moon-rod {
    top: -50%;
    height: 100%;
};